.my-module .name{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1rem;
}

.my-module .content{
    display: flex;
    position: relative;
    padding: 1rem;
}

.my-module .content .rows{
    width: 100%;
}

.my-module .content .avatar{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.my-module .content .avatar .tip{
    position: absolute;
    display: none;
    background-color: lightskyblue;
    color: white;
}

.my-module .content .avatar:hover .tip{
    display: block;
    cursor: pointer;
}

.my-module .content .avatar img{
    width: 80px;
    height: 96px;
}
